%div{ itemscope: '', itemtype: 'http://schema.org/Organization' }
  .navbar
    %a.back-to-top.top-logo{ href: '#top' }
      = image_tag 'ci/logo_invert.png', class: 'brand', alt: 'Panter AG Logo', itemprop: 'logo'
    %a.menu-link{ href: '#' }
      = image_tag 'ci/bars.png', class: 'bars', alt: 'Menu bars'
      MENU
    %ul#menu
      %li
        %a{ href: '#company' } COMPANY
      %li
        %a{ href: '#team' } TEAM
      %li
        %a{ href: '#services' } SERVICES
      %li
        %a{ href: '#customers'} CUSTOMERS
      %li
        %a{ href: '#contact'} CONTACT
      %li
        %a{ href: 'http://colab-zurich.ch', target: '_blank' } COLAB
      %li
        %a{ href: '#newsletter'} NEWSLETTER
    %a.lang{ href: '../index.html'} DE

  .section.welcome

  .grid_12
    .sponsorings
      %a{ href: 'recomy-best-of-swiss-web-2014.html', target: '_blank' }
        = image_tag 'sponsorings/bosw.jpg', alt: 'Best of Swiss Web Awards'
        %span Winner #BOSW
    .sponsorings
      %a{ href: 'http://colab-zurich.ch', target: '_blank' }
        = image_tag 'sponsorings/colab_bunny.jpg', class: 'conf', alt: 'Colab'
        %span Co-founder #ColabZurich
    .sponsorings
      %a{ href: 'http://www.entrepreneur-club.org/', target: '_blank' }
        = image_tag 'sponsorings/ec.png', class: 'conf', alt: 'Entrepreneur club'
        %span Supports
    .sponsorings
      %a{ href: 'http://railsgirls.com/zurich2015', target: '_blank' }
        = image_tag 'sponsorings/railsgirls-sq.png', class: 'conf', alt: 'RailsGirls'
        %span Supports #RailsGirls
    .sponsorings
      %a{ href: 'http://frontendconf.ch/', target: '_blank' }
        = image_tag 'sponsorings/frontend_conf.png', class: 'conf', alt: 'Frontend Conference Zürich'
        %span Supports Frontend Conf
  #company.section.background
    .container_12
      .grid_12
        %h2 Company
        %div{ itemprop: 'description' }
          %p
            %strong “We rapidly build, run and scale
            your business-critical, long-lasting and effective web and mobile solutions.”
          %p
            %strong “We leverage agile development methodologies
            and cloud enabled technologies in a results-only work environment to focus on your benefits.”
          %p
            “We pursue excellence,
            practice transparency and  foster education.”
          %p.smaller
            Our head office is located in Zurich (CH)
          %p.smaller
            We act as an owner-, community- and technology-driven company with participative structures since 2005.
    %a.next-section.icons-top{ href: '#top' } Team
  #team.section
    .container_12
      .grid_12
        %h2 Team
        %p
          You'll love us. We're personable craftsmen, passionate and approachable. We work hard until your software is perfect.
    .container_9
      .grid_12
        - data.employees.each do |employee|
          .team-member
            - if employee.partner?
              %div{ itemprop: 'founder', itemscope: '', itemtype: 'http://schema.org/Person' }
            - else
              %div{ itemprop: 'employee', itemscope: '', itemtype: 'http://schema.org/Person' }
            = image_tag employee.image, alt: employee.name, title: employee.name, itemprop: 'image'
            .member-name
              %span{ itemprop: 'givenName' }
                = employee.given_name
              %span{ itemprop: 'familyName' }
                = employee.family_name
            .member-role
              - if employee.partner?
                %span{ itemprop: 'jobTitle' }
                  Partner
                %br
              - employee.job_titles.each do |job_title|
                %span{ itemprop: 'jobTitle' }
                  = job_title
                %br
            .member-social
              - if employee.links?
                - employee.links.each do |link|
                  %a{ href: link.values.first, itemprop: 'sameAs', target: '_blank', class: "icons-#{link.keys.first}" }
                    #{link.keys.first} profile of #{employee.given_name} #{employee.family_name}
    %a.next-section.icons-top{ href: '#top' } Services
  #services.section.background
    .container_12
      .grid_12
        %h2 Services
        %p
          We’re professionals in Ruby on Rails, Java &amp; JEE, HTML5, CSS3, Javascript frameworks like JQuery, Backbone and Spine just to name a few.
        %p
          We supply consulting and solutions in agile project management and Enterprise Java. Our Teams not only teach but also master Spring, Java EE, OSGi and Software Engineering and provide Best Practice and offers from order processing to the completion of your mobile iOS and Android Page.
        %p
          Our work is behaviour and test driven.
        %p
          Our solutions run in the cloud, your dedicated environment or your own infrastructure.
      .grid_12
        .info{ itemprop: 'makesOffer', itemscope: '', itemtype: 'http://schema.org/Offer' }
          %h4{ itemprop: 'name' } Applications for your consumers
          %p{ itemprop: 'description' }
            Our customers grow their business, engage their customers and corner the market in their field — all in one and online. Work with us, explain your vision and watch us build your custom public solution that brings your idea to life.
        .info{ itemprop: 'makesOffer', itemscope: '', itemtype: 'http://schema.org/Offer' }
          %h4{ itemprop: 'name' } Applications for your workforce
          %p{ itemprop: 'description' }
            We develop enterprise and internal applications used at companies around the globe. Some optimize workflows. Some help ensuring process quality. Others keep it simple, like letting you schedule a conference room.
        .info{ itemprop: 'makesOffer', itemscope: '', itemtype: 'http://schema.org/Offer' }
          %h4{ itemprop: 'name' } Mobile optimized websites
          %p{ itemprop: 'description' }
            Users need to have a good experience when accessing your site via mobile. And you can give it to them. The best part? You can give it to everyone — no matter what device they’re using. That’s the beauty of mobile optimized applications that we deliver.
        .info{ itemprop: 'makesOffer', itemscope: '', itemtype: 'http://schema.org/Offer' }
          %h4{ itemprop: 'name' }
            Consulting –
            %br
            hands-on
          %p{ itemprop: 'description' }
            You want to boost your project? We are here to help. Book an engineer for a day, a week or even longer. We've experienced SCRUM masters, project managers, requirements engineers, business analysts, software architects and programmers. Just contact us!
      .grid_12
        %p
          Our customer-centered agile development process is simple and effective:
        %p
          %strong We listen, build just enough, and repeat.
          %p
            We’re fast, give rapid feedback and communicate often and transparently.
    %a.next-section.icons-top{ href: '#top' } Customers
  #customers.section
    .container_12
      .grid_12
        %h2 Customers
        %p
          Large-scale enterprise solutions, killer-startup prototypes, rapidly-built web-sites — we've done it.
        %p
          Integrating with systems that make business run, like Google Apps and Drive, Facebook and Twitter or Paypal and E-Commerce Gateways or customer specific environments — we've done that, too.
        %p
          End-to-End Development (start to finish) or anywhere in between.
        %p
          Rescue on an existing project, or just help getting started.
        %p
          Our easy-to-understand and straightforward process makes working with us simple.
      .grid_12
        - data.customers.each do |customer|
          .customer-item
            .customer-img
              = image_tag customer.image, alt: customer.name, title: customer.name
    %a.next-section.icons-top{ href: '#top' } Contact
  #contact.section.background
    .container_12
      .grid_12
        %h2 Contact
      .grid_12.last
        .address
          %h4
            Head Office
            %br
            Zurich (CH)
          %span{ itemprop: 'name' } Panter AG
          %br
          %div{ itemprop: 'location', itemscope: '', itemtype: 'http://schema.org/PostalAddress' }
            %a{ href: 'http://colab-zurich.ch', target: '_blank' } Colab Zürich
            %br
            %span{ itemprop: 'streetAddress' } Sihlquai 131
            %br
            = succeed '-' do
              %span{ itemprop: 'addressCountry' } CH
            %span{ itemprop: 'postalCode' } 8005
            %span{ itemprop: 'addressLocality' } Zürich
            %br
          %a{ href: 'mailto:info@panter.ch' }
            %span{ itemprop: 'email' } info@panter.ch
          %br
          %a{ href: 'tel:41445002904' }
            %span{ itemprop: 'telephone' } +41 44 500 29 04
          %br
          %br
          .member-social
            %a.icons-linkedin{ href: 'http://www.linkedin.com/company/3105750?trk=vsrp_companies_res_name&amp;trkInfo=VSRPsearchId%3A1004249921383740324861%2CVSRPtargetId%3A3105750%2CVSRPcmpt%3Aprimary', itemprop: 'sameAs', target: '_blank' } LinkedIn Profil von Panter
            %a.icons-twitter{ href: 'https://twitter.com/panterch', itemprop: 'sameAs', target: '_blank' } Twitter Profil von Panter
            %a.icons-facebook{ href: 'https://www.facebook.com/panterch', itemprop: 'sameAs', target: '_blank' } Facebook Profil von Panter
            %a.icons-google-plus{ href: 'https://plus.google.com/u/0/106584890222764921609/posts', itemprop: 'sameAs', target: '_blank' } Google Plus Profil von Panter
            %a.icons-github{ href: 'https://github.com/panter', itemprop: 'sameAs', target: '_blank' } Github Repository von Panter
        .map
          %a.github{ href: 'https://www.google.ch/maps/place/Impact+Hub+Z%C3%BCrich,+Colab/@47.384933,8.533768,17z/data=!4m6!1m3!3m2!1s0x47900a1f1177a1e1:0x7bec8e245a96aa5c!2sImpact+Hub+Z%C3%BCrich,+Colab!3m1!1s0x47900a1f1177a1e1:0x7bec8e245a96aa5c', itemprop: 'sameAs', target: '_blank' }
            = image_tag 'https://maps.google.com/maps/api/staticmap?center=47.384933,8.533768&zoom=17&size=620x400&maptype=roadmap&sensor=false&language=&markers=color:red|label:true|47.384933,8.533768'
    %a.next-section.icons-top{ href: '#top' } Top
  #newsletter.section.last-background
    .container_12
      .grid_12
        %h2 Newsletter
        #templateContainer.wrapper.rounded6
          #templateBody.bodyContent.rounded6
            %form{ action: 'http://panter.us4.list-manage1.com/subscribe/post', method: 'POST' }
              %input{ name: 'u', type: 'hidden', value: '4fd63bcc6266c4664a55fadaa' }
              %input{ name: 'id', type: 'hidden', value: '7e6e525063' }
              #mergeTable.mergeTable
                #mergeRow-3.mergeRow.dojoDndItem.mergeRow-dropdown
                  %label{ for: 'MERGE3' }
                    %strong Anrede
                    %span.asterisk *
                  .field-group
                    %select#MERGE3{ name: 'MERGE3' }
                      %option{ value: 'Frau' } Frau
                      %option{ value: 'Herr' } Herr
                #mergeRow-1.mergeRow.dojoDndItem.mergeRow-text
                  %label{ for: 'MERGE1' }
                    %strong Vorname
                    %span.asterisk *
                  .field-group
                    %input#MERGE1{ name: 'MERGE1', size: '25', type: 'text', value: '' }
                #mergeRow-2.mergeRow.dojoDndItem.mergeRow-text
                  %label{ for: 'MERGE2' }
                    %strong Nachname
                    %span.asterisk *
                  .field-group
                    %input#MERGE2{ name: 'MERGE2', size: '25', type: 'text', value: '' }
                #mergeRow-0.mergeRow.dojoDndItem.mergeRow-email
                  %label{ for: 'MERGE0' }
                    %strong E-Mail Adresse
                    %span.asterisk *
                  .field-group
                    %input#MERGE0{ name: 'MERGE0', size: '25', type: 'email', value: '' }
                #mergeRow-4.mergeRow.dojoDndItem.mergeRow-text
                  %label{ for: 'MERGE4' } Bemerkung
                  .field-group
                    %input#MERGE4{ name: 'MERGE4', size: '25', type: 'text', value: '' }
              .submit_container
                %input.button{ name: 'submit', type: 'submit', value: 'Abschicken' }
    %a.next-section.icons-top{ href: '#top' } Top
