%div{ itemscope: '', itemtype: 'http://schema.org/Organization' }
  .navbar
    %a.back-to-top.top-logo{ href: '#top' }
      = image_tag 'ci/logo_invert.png', class: 'brand', alt: 'Panter AG Logo', itemprop: 'logo'
    %a.menu-link{ href: '#' }
      = image_tag 'ci/bars.png', class: 'bars', alt: 'Menu bars'
      MENU
    %ul#menu
      %li
        %a{ href: '#company' } ORGANISATION
      %li
        %a{ href: '#team' } TEAM
      %li
        %a{ href: '#services' } DIENSTLEISTUNGEN
      %li
        %a{ href: '#customers'} KUNDEN
      %li
        %a{ href: '#contact'} KONTAKT
      %li
        %a{ href: 'http://colab-zurich.ch', target: '_blank' } COLAB
      %li
        %a{ href: '#newsletter'} NEWSLETTER
    %a.lang{ href: "#{other_lang(langs, lang) }/index.html"}
      = other_lang(langs, lang).upcase

  .section.welcome

  .grid_12
    .sponsorings
      %a{ href: 'http://bestofswissweb.ch/de/hall-of-fame/bestever/', target: '_blank' }
        = image_tag 'sponsorings/bosw.jpg', alt: 'Best of Swiss Web Awards'
        %span Gewinnerin #BOSW
    .sponsorings
      %a{ href: 'http://colab-zurich.ch', target: '_blank' }
        = image_tag 'sponsorings/colab_bunny.jpg', class: 'conf', alt: 'Colab'
        %span Initiantin #ColabZurich
    .sponsorings
      %a{ href: 'http://www.entrepreneur-club.org/', target: '_blank' }
        = image_tag 'sponsorings/ec.png', class: 'conf', alt: 'Entrepreneur club'
        %span Supporterin
    .sponsorings
      %a{ href: 'http://railsgirls.com/zurich2015', target: '_blank' }
        = image_tag 'sponsorings/railsgirls-sq.png', class: 'conf', alt: 'RailsGirls'
        %span Supporterin #RailsGirls
    .sponsorings
      %a{ href: 'http://frontendconf.ch/', target: '_blank' }
        = image_tag 'sponsorings/frontend_conf.png', class: 'conf', alt: 'Frontend Conference Zürich'
        %span Supporterin Frontend Conf
  #company.section.background
    .container_12
      .grid_12
        %h2 Organisation
        %div{ itemprop: 'description' }
          %p
            %strong “Wir entwickeln, betreiben und skalieren
            Ihre unternehmenskritischen Web- und mobilen Applikationen mit sicherer Hand, langfristig und effektiv.”
          %p
            %strong “Unsere Arbeit orientiert sich ausschliesslich an Resultaten:
            Wir bedienen uns dazu agilen Entwicklungsmethoden und Cloud-basierten Technologien und behalten Ihren Nutzen stets im Fokus.”
          %p
            %strong “Unser Wunsch, Sie zufrieden zu stellen,
            treibt uns zu Spitzenleistungen an: Wir bieten überdurchschnittliche Qualität und identifizieren uns mit Ihnen und Ihrem Projekt.”
          %p.smaller
            Unser Hauptsitz ist in Zürich.
            %br
            Wir unterhalten eine Niederlassung in Zug.
          %p.smaller
            Unsere 2007 gegründete Organisation ist Inhaber-, Community- und Technologie-getrieben, lebt partizipative Strukturen und wächst langsam und stetig.
    %a.next-section.icons-top{ href: '#top' } Team
  #team.section
    .container_12
      .grid_12
        %h2 Team
        %p
          Sie werden uns und unsere Arbeit schätzen: Wir verstehen und sehen uns als Handwerker erster Güte. Wir arbeiten hart dafür, dass Ihre Lösung perfekt wird. Das versprechen wir Ihnen.
    .container_9
      .grid_12
        - data.employees.each do |employee|
          .team-member
            - if employee.partner?
              %div{ itemprop: 'founder', itemscope: '', itemtype: 'http://schema.org/Person' }
            - else
              %div{ itemprop: 'employee', itemscope: '', itemtype: 'http://schema.org/Person' }
            = image_tag employee.image, alt: employee.name, title: employee.name, itemprop: 'image'
            .member-name
              %span{ itemprop: 'givenName' }
                = employee.given_name
              %span{ itemprop: 'familyName' }
                = employee.family_name
            .member-role
              - if employee.partner?
                %span{ itemprop: 'jobTitle' }
                  Partner
                %br
              - employee.job_titles.each do |job_title|
                %span{ itemprop: 'jobTitle' }
                  = job_title
                %br
            .member-social
              - if employee.links?
                - employee.links.each do |link|
                  %a{ href: link.values.first, itemprop: 'sameAs', target: '_blank', class: "icons-#{link.keys.first}" }
                    #{link.keys.first} profile of #{employee.given_name} #{employee.family_name}
    %a.next-section.icons-top{ href: '#top' } Services
  #services.section.background
    .container_12
      .grid_12
        %h2 Dienstleistungen
        %p
          Wir sind Profis in Ruby on Rails, Java & JEE, HTML5, CSS3, Javascript Frameworks wie JQuery, Backbone und Spine, um nur einige zu nennen.
        %p
          Unsere Arbeit orientiert sich am Nutzer und ist testgetrieben.
        %p
          Unsere Lösungen funktionieren in der Cloud, auf Ihrer dedizierten Umgebung und auf Ihrer eigenen Infrastruktur.
      .grid_12
        .info{ itemprop: 'makesOffer', itemscope: '', itemtype: 'http://schema.org/Offer' }
          %h4{ itemprop: 'name' } Web- und mobile Applikationen für Ihre Kunden
          %p{ itemprop: 'description' }
            Unsere Auftraggeberinnen und Auftraggeber sind erfolgreiche Unternehmen, ausgewiesene Spezialisten in Ihren Geschäftsfeldern, die Prozesse, Serviceleistungen und Angebote ins Internet verlagern. Dies verlangt ebenso ausgewiesene Spezialisten im Hintergrund, die für Sicherheit in den Abläufen und der Entwicklung sorgen. Arbeiten sie mit uns, zeigen Sie uns Ihre Vision und wir realisieren Ihre Idee.
        .info{ itemprop: 'makesOffer', itemscope: '', itemtype: 'http://schema.org/Offer' }
          %h4{ itemprop: 'name' } Enterprise-Applikationen für Ihr Geschäft
          %p{ itemprop: 'description' }
            Wir entwickeln Applikationen, die Einsatz finden in Unternehmen rund um den Globus. Einige davon optimieren und automatisieren Arbeitsprozesse, einige davon sichern die Prozessqualität, andere wiederum vereinfachen Ihnen und Ihrem Team ganz einfach das Leben.
        .info{ itemprop: 'makesOffer', itemscope: '', itemtype: 'http://schema.org/Offer' }
          %h4{ itemprop: 'name' } Web-Applikationen, optimiert für das mobile Zeitalter
          %p{ itemprop: 'description' }
            Immer mehr Nutzerinnen und Nutzer gelangen via Smart-Phone und Tablet auf Ihre Applikation. Dies stellt ganz neue Anforderungen an Design und Benutzerführung. Mit unseren für das mobile Zeitalter optimierten Applikationen befriedigen Sie alle Wünsche Ihrer Nutzerinnen und Nutzer, egal mit welchem Betriebssystem oder Gerät sie auf Ihr Angebot zugreifen.
        .info{ itemprop: 'makesOffer', itemscope: '', itemtype: 'http://schema.org/Offer' }
          %h4{ itemprop: 'name' }
            Beratung:
            %br
            Auf Augenhöhe und hands-on
          %p{ itemprop: 'description' }
            Sie wollen ein internes Projekt beschleunigen? Wir helfen Ihnen. Buchen Sie einen unserer Entwickler oder eines unserer Teams für einen Tag, eine Woche oder länger: Wir verfügen über erfahrene SCRUM-Master, Projekt-Manager, Anforderungsanalytiker, Software-Architekten, Programmierer, Unternehmens- und Marketing-Berater. Kontaktieren Sie uns für ein unverbindliches Gespräch.
      .grid_12
        %p
          Unser agiler Entwicklungsprozess ist einfach, effektiv und kundenzentriert:
        %p
          %strong Wir hören zu, setzen um, wiederholen.
        %p
          Wir sind schnell, geben rasch Feedback, kommunizieren häufig und transparent.
    %a.next-section.icons-top{ href: '#top' } Customers
  #customers.section
    .container_12
      .grid_12
        %h2 Kunden
        %p
          Wir haben ausgewiesene und langjährige Erfahrung in der Umsetzung von grossen Enterprise-Applikationen, Startup-Prototypen und stabilen und sicheren Web-Applikationen.
        %p
          Hier eine Auswahl aktueller Arbeiten:
        .grid_12
          .slider-container
            .control
              %a#prev.slider-control.slider-prev.icons-left{ href: '' } Previous
            .cycle-slideshow{ data: { 'cycle-auto-height' => 'calc', 'cycle-fx' => 'scrollHorz', 'cycle-next' => '#next', 'cycle-pause-on-hover' => 'true', 'cycle-prev' => '#prev', 'cycle-slides' => '.slider', 'cycle-timeout' => '4000', 'speed' => '800'} }
              - data.references.each do |reference|
                .slider
                  .slider-img
                    = image_tag reference.image, alt: "#{reference.name} #{reference.title}", title: reference.name, class: ('rounded' if reference.rounded == true)
                  .slider-text
                    %h4
                      = reference.name
                      %br
                      = reference.title
                    %p
                      = reference.text
                      %br
                      - if reference.url_text?
                        %br
                        %a{ href: "http://#{reference.url}", target: '_blank' }
                          = reference.url_text
                      - else
                        %br
                        %a{ href: "http://#{reference.url}", target: '_blank' }
                          = reference.url
            .control
              %a#next.slider-control.slider-next.icons-right{ href: '' } Next
        %p
          Auch die Integration von Systemen wie Google Apps / Drive, Facebook, Twitter, Paypal und anderer E-Commerce-Gateways meistern wir problemlos.
        %p
          Ob wir Ihre individuelle Lösung von A-Z entwickeln oder Teile davon, ob Sie uns als Troubleshooter für ein bestehendes Projekt engagieren oder als Starthilfe für ein neues:
        %p
          Unsere strukturierten und klaren Prozesse machen es einfach, mit uns zu arbeiten.
      .grid_12
        - data.customers.each do |customer|
          .customer-item
            .customer-img
              = image_tag customer.image, alt: customer.name, title: customer.name
    %a.next-section.icons-top{ href: '#top' } Contact
  #contact.section.background
    .container_12
      .grid_12
        %h2 Kontakt
      .grid_12.last
        .address
          %h4
            Hauptstandort
            %br
            Zürich (CH)
          %span{ itemprop: 'name' } Panter AG
          %br
          %div{ itemprop: 'location', itemscope: '', itemtype: 'http://schema.org/PostalAddress' }
            %a{ href: 'http://colab-zurich.ch', target: '_blank' } Colab Zürich
            %br
            %span{ itemprop: 'streetAddress' } Sihlquai 131
            %br
            = succeed '-' do
              %span{ itemprop: 'addressCountry' } CH
            %span{ itemprop: 'postalCode' } 8005
            %span{ itemprop: 'addressLocality' } Zürich
            %br
          %a{ href: 'mailto:info@panter.ch' }
            %span{ itemprop: 'email' } info@panter.ch
          %br
          %a{ href: 'tel:41445002904' }
            %span{ itemprop: 'telephone' } +41 44 500 29 04
          %br
          %br
          .member-social
            %a.icons-linkedin{ href: 'http://www.linkedin.com/company/3105750?trk=vsrp_companies_res_name&amp;trkInfo=VSRPsearchId%3A1004249921383740324861%2CVSRPtargetId%3A3105750%2CVSRPcmpt%3Aprimary', itemprop: 'sameAs', target: '_blank' } LinkedIn Profil von Panter
            %a.icons-twitter{ href: 'https://twitter.com/panterch', itemprop: 'sameAs', target: '_blank' } Twitter Profil von Panter
            %a.icons-facebook{ href: 'https://www.facebook.com/panterch', itemprop: 'sameAs', target: '_blank' } Facebook Profil von Panter
            %a.icons-google-plus{ href: 'https://plus.google.com/u/0/106584890222764921609/posts', itemprop: 'sameAs', target: '_blank' } Google Plus Profil von Panter
            %a.icons-github{ href: 'https://github.com/panter', itemprop: 'sameAs', target: '_blank' } Github Repository von Panter
          %br
            %a{ href: 'https://www.google.ch/maps/place/Dorfstrasse+17,+6300+Zug/@47.1654701,8.5175845,17z/data=!3m1!4b1!4m2!3m1!1s0x479aaafa152a8971:0xa03fa23479f50376', target: '_blank' } Zweigstelle in Zug
        .map
          %a.github{ href: 'https://www.google.ch/maps/place/Impact+Hub+Z%C3%BCrich,+Colab/@47.384933,8.533768,17z/data=!4m6!1m3!3m2!1s0x47900a1f1177a1e1:0x7bec8e245a96aa5c!2sImpact+Hub+Z%C3%BCrich,+Colab!3m1!1s0x47900a1f1177a1e1:0x7bec8e245a96aa5c', itemprop: 'sameAs', target: '_blank' }
            = image_tag 'https://maps.google.com/maps/api/staticmap?center=47.384933,8.533768&zoom=17&size=620x400&maptype=roadmap&sensor=false&language=&markers=color:red|label:true|47.384933,8.533768'
    %a.next-section.icons-top{ href: '#top' } Top
  #newsletter.section.last-background
    .container_12
      .grid_12
        %h2 Newsletter
        #templateContainer.wrapper.rounded6
          #templateBody.bodyContent.rounded6
            %form{ action: 'http://panter.us4.list-manage1.com/subscribe/post', method: 'POST' }
              %input{ name: 'u', type: 'hidden', value: '4fd63bcc6266c4664a55fadaa' }
              %input{ name: 'id', type: 'hidden', value: '7e6e525063' }
              #mergeTable.mergeTable
                #mergeRow-3.mergeRow.dojoDndItem.mergeRow-dropdown
                  %label{ for: 'MERGE3' }
                    %strong Anrede
                    %span.asterisk *
                  .field-group
                    %select#MERGE3{ name: 'MERGE3' }
                      %option{ value: 'Frau' } Frau
                      %option{ value: 'Herr' } Herr
                #mergeRow-1.mergeRow.dojoDndItem.mergeRow-text
                  %label{ for: 'MERGE1' }
                    %strong Vorname
                    %span.asterisk *
                  .field-group
                    %input#MERGE1{ name: 'MERGE1', size: '25', type: 'text', value: '' }
                #mergeRow-2.mergeRow.dojoDndItem.mergeRow-text
                  %label{ for: 'MERGE2' }
                    %strong Nachname
                    %span.asterisk *
                  .field-group
                    %input#MERGE2{ name: 'MERGE2', size: '25', type: 'text', value: '' }
                #mergeRow-0.mergeRow.dojoDndItem.mergeRow-email
                  %label{ for: 'MERGE0' }
                    %strong E-Mail Adresse
                    %span.asterisk *
                  .field-group
                    %input#MERGE0{ name: 'MERGE0', size: '25', type: 'email', value: '' }
                #mergeRow-4.mergeRow.dojoDndItem.mergeRow-text
                  %label{ for: 'MERGE4' } Bemerkung
                  .field-group
                    %input#MERGE4{ name: 'MERGE4', size: '25', type: 'text', value: '' }
              .submit_container
                %input.button{ name: 'submit', type: 'submit', value: 'Abschicken' }
    %a.next-section.icons-top{ href: '#top' } Top
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40536002-1']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
