---
layout: false
---

%html{ lang: lang }
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => I18n.t(:description), :name => "description"}/
    %title Pantalk - “Free Software and Your Freedom“ by Richard Stallman

    %link{:href => "http://fonts.googleapis.com/css?family=Merriweather:400,700,300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600", :rel => "stylesheet", :type => "text/css"}/

    %link{ rel: 'apple-touch-icon', sizes: '152x152', href: 'apple-touch-icon-152x152-precomposed.png' }
    %link{ rel: 'apple-touch-icon', sizes: '144x144', href: 'apple-touch-icon-144x144-precomposed.png' }
    %link{ rel: 'apple-touch-icon', sizes: '114x114', href: 'apple-touch-icon-114x114-precomposed.png' }
    %link{ rel: 'apple-touch-icon', sizes: '72x72', href: 'apple-touch-icon-72x72-precomposed.png' }
    %link{ rel: 'apple-touch-icon', href: 'apple-touch-icon-precomposed.png' }
    %link{ rel: 'shortcut icon', href: 'favicon.png' }
    %link{ rel: 'icon', type: 'image/ico', href: 'favicon.ico' }

    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon"}/

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'rms'

    = javascript_include_tag 'rms'

  %body
    #banner.visible-md-block.visible-lg-block.hidden-xs
      %h2#author Richard Stallman
      %h2#title “Free Software and Your Freedom“
    .section.background
      .container_12
        .grid_12
          .visible-xs-block.visible-sm-block.hidden-md
            %h2 “Free Software and Your Freedom“<br> by Richard Stallman
          %h2 Looking back: Pantalk 08.02.2016
          %p.smaller
            It was truly a pleasure hosting Richard Stallman at Pantalks
            earlier this month. Stallman’s talk about „Free Software and Your
            Freedom“ attracted around 200 visitors which were clearly delighted
            with what they saw and heard. Stallman obviously too enjoyed being
            at the Colab of Impact HUB Zürich as he exceeded his talk which was
            initially planned to be 1 hour and added an extended Q &amp; A round -
            must have been the green tea we served him.
          %p.smaller
            The talk was broadcast live to 2 additional screens in the Colab
            thus everyone had a good view even at Stallman’s humorous
            performance in the end.
          %p.smaller
            You can watch Richard Stallman’s Talk „Free
            Software and Your Freedom“ online:<br>
            = link_to 'Richard Stallman - Pantalk 16.02.2016', 'http://www.panter.ch/files/pantalk_rms/160210-PanTalks-Richard_Stallman-FM.webm', target: '_blank'

    .section
      .container_12
        .grid_12
          %p.smaller
            Some impressions of the evening:

          %p.smaller<>
            - rms_images.each do |image|
              = link_to image_path(image.sub(/\/preview/, '')), class: "fancybox", rel: "gallery1" do
                = image_tag image, width: '120px', height: '120px'

          %p.smaller
            And here's the video of the talk:

          %p.smaller
            %video{ controls: true, poster: image_path('rms/video_poster.jpg') }
              %source{ src: "http://www.panter.ch/files/pantalk_rms/160210-PanTalks-Richard_Stallman-FM.mp4", type: 'video/mp4' }/
              %source{ src: "http://www.panter.ch/files/pantalk_rms/160210-PanTalks-Richard_Stallman-FM.webm", type: 'video/webm;codecs="vp8, vorbis"'}/

    .section.background
      .container_12
        .grid_12
          %p
            = link_to 'http://www.panter.ch' do
              = image_tag 'ci/logo_invert.png', alt: 'Panter AG Logo', width: '250px'
          %p
            = link_to 'https://zurich.impacthub.ch' do
              = image_tag 'rms/ihz_logo.png', width: '500px', alt: 'Impact Hub Zürich Logo'
          %p
            = link_to 'http://imagebakery.ch/' do
              = image_tag 'rms/image_bakery_logo.png', alt: 'Image Bakery Logo'
