---
layout: portfolio
head_title: 'Wink'
---

#parallax-1-container
  %header.content
    = image_tag 'bosw_wink/wink_logo.png'
    %h1 Die Nachbarschafts-Community-Plattform der Allgemeinen<br>Baugenossenschaft Zürich

  .parallax-window.parallax-1
    .parallax-background{ data: { top_bottom: "background-position: 50% -400px;", center: "background-position: 50% 0px;", anchor_target: '#parallax-1-container' } }

  .content
    %p
      In Zürich und Umgebung baut die Allgemeine Baugenossenschaft Zürich (ABZ)
      Siedlungen für ein gemeinschaftsorientiertes Wohnen und Zusammenleben.  Die
      ABZ bietet den Mitgliedern faire und günstige Mieten, Mitsprache- und
      Mitwirkungsmöglichkeiten, ein angenehmes Wohnumfeld und eine gute
      Nachbarschaft.

    = image_tag 'bosw_wink/showcase_image_2.jpg'

.content-full.color-1
  .content
    %h2 Briefing
    %h3 Innovation, die der Gemeinschaft dient

.parallax-window.parallax-2#parallax-2-container
  .parallax-background{ data: { top_bottom: "background-position: 50% -200px;", center: "background-position: 50% 0px;" } }

  .parallax-footer-background &nbsp;
  .parallax-footer-image
    = image_tag 'bosw_wink/showcase_image_4.png'

.content-full.color-1
  .content
    %p
      Schon länger und aus verschiedenen Siedlungen wurde Bedarf für eine
      digitale Vernetzungsplattform zur Vereinfachung der Kommunikation und des
      Austauschs geäussert. Mit der Lancierung von WINK reagiert die
      Geschäftsstelle auf diese Bedürfnisse und macht die Aktivitäten und
      Engagements in den Siedlungen sichtbar und zugänglich. Die vielseitigen
      Begegnungsmöglichkeiten online bereichern das alltägliche
      Nachbarschaftsleben auch siedlungsübergreifend. WINK wird laufend den
      Nutzerbedürfnissen entsprechend weiterentwickelt.

.content.js-fade-in
  %h2 Schwarzes Brett
  %h3 Mehr über die Aktivitäten in den Siedlungen erfahren
  %p
    WINK versteht sich als Instrument, um den Austausch zu fördern und vereint
    somit Siedlungsinformationen, Mitteilungen der Genossenschaft und
    Bewohnerbeiträge an einem Ort. Auf WINK ist man per Du und hat die
    Möglichkeit, die unmittelbaren Nachbarn, aber auch die Bewohner/innen
    anderer Siedlungen zu kontaktieren. Ob es nun Anregungen, Alltagsgedanken
    oder Veranstaltungen sind, jedes ABZ-Mitglied kann über das persönliche
    Profil eigene Beiträge posten oder nach Aktivitäten suchen. Ein Feedback
    Button bietet die Möglichkeit, Anregungen, Fragen und Rückmeldungen direkt
    beim verantwortlichen Team bei der ABZ zu platzieren.

  = image_tag 'bosw_wink/showcase_image_6.jpg'

.content-full.color-2.js-fade-in
  .content
    %h2 Rollen
    %h3 Individuelle Nutzung für alle
    %p
      Mit Hilfe ihrer ABZ-ID können Bewohner/innen auf schnellste Weise ihr
      Profil auf WINK aktivieren und es mit einem Profilbild, Angaben zu
      Interessen und Kontaktmöglichkeiten ergänzen. Ihre eigenen Beiträge
      können sie löschen und haben die Möglichkeit, Beiträge anderer zu lesen
      und zu kommentieren oder als unangebracht zu melden. WINK wird auch von
      den ABZ-Mitarbeitern und Siedlungskomissionsmitgliedern als
      Orientierungskanal genutzt. Hierbei dient ihnen das eigens erstellte
      Dashboard, das ausschliesslich für Admin und SiKo Profile zugänglich ist,
      als Erfassungsort. Sie können so Siedlungsinformationen, Posts unter
      „Aktuelles“ und ABZ-Veranstaltungen erstellen und bearbeiten. Zusätzlich
      zu diesen Funktionen hat man über das Dashboard der Admin Profile Zugang
      zur Datenbank der Siedlungsbewohner/innen und die Möglichkeit, einzelnen
      Personen Rollen zuzuordnen.

    %p
      Auch ohne ABZ-Mitgliedschaft ist es möglich, als Bekannte/r oder
      Freund/in von Bewohnern WINK beizutreten. Solche Benutzer erhalten die
      ABZ-ID per Brief. Alle Bewohner/innen sind auf WINK automatisch ihrer
      Siedlung zugeteilt. Dies gilt nun ebenfalls für die Benutzer/innen, die
      nicht in einer der ABZ-Siedlungen wohnen. Sie sind der virtuellen
      Siedlung «ABZ-Freunde» zugeordnet.

.content.js-fade-in
  %h2 Tags
  %h3 Suchen, bieten und interessiert an…
  %p
    Um eine personalisierte Übersicht der 60 Siedlungen mit ihren rund 7400
    Bewohnern und deren Interessen und Aktivitäten zu bieten, bedient sich WINK
    Tags. Somit werden wahlweise nur die Beiträge gezeigt, die die
    Bewohner/innen für sich auswählen. Durch diese Filtermöglichkeit bleibt
    WINK lean und verhindert die Überflutung der persönlichen Übersichtsseite
    mit irrelevanten Informationen. Alle Benutzerdaten sind verschlüsselt auf
    Schweiz Servern gespeichert und durch das Rollenkonzept nur für befugte
    abrufbar.

  = image_tag 'bosw_wink/showcase_image_5.jpg'

.content-full.color-3
  .content
    %h2 Bewohnerstimmen
    %h3 &nbsp;
    %p „Wow!“
    %p „Einmalig!“
    %p „Verblüffend!“

.content
  %p
    Ihnen steht eine Demo Version von WINK zur Verfügung.
    Sie können sich als Bewohner, ABZ-Mitarbeiter oder Siedlungskommissionsmitglied einlogen.
    Aus Datenschutzgründen wurden Namen und Bilder der Bewohner geändert.

  %p
    Login Daten:
    %br
    %br

    ABZ-Mitarbeiter:
    = mail_to 'tarja.kowalick@example.com'
    %br
    Passwort: test1234
    %br
    %br
    Siedlungskommission:
    = mail_to 'anastasia.dehmel@example.com'
    %br
    Passwort: test1234
    %br
    %br
    Bewohner:
    = mail_to 'mailin.schuri@example.com'
    %br
    Passwort: test1234

  %p.button-section
    %a.button{ href: 'https://wink.panter.ch'} WINK ERLEBEN
